.views-jqfx-galleria img {
  display: none;
}

.galleria-layer div{
  top:10px;left:10px;
  padding:10px;
  position:absolute;
  background:url(bg.png);
  color:#fff
}

.galleria-layer h2{
  margin: 0 0 8px;
  font-size:22px;
  line-height:1;
}

.galleria-layer p{
  margin:0
}
